{% extends 'show_result.html' %}
{% block texts_cluster %}
    <div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 col-md-offset-2 main">
					<h1 class="page-header">List of comments in this cluster</h1>
					<div class="table-responsive">
						<table class="table table-striped">
							<tbody>
                            {% for item in texts %}
								<tr>
                                    <form action="" method="POST" style="border: 1px solid black; margin: 4px; padding: 4px;">
                                    {% csrf_token %}
                                        <td>
                                            <a href="/texts/{{ item.0.1 }}/">
                                                <p>{{ item.0.0 }}</p>
                                            </a>
                                        </td>
                                        <td>
                                            <button type="submit" name="spam" value="{{ item.0.1 }}"
                                                    class="btn btn-danger">Spam</button>
                                        </td>
                                    </form>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
{% endblock %}