{% extends 'show_result.html' %}
{% block urls %}
    <div class="container-fluid">
        <div class="row">
				<div class="col-sm-8 col-md-offset-2 main">
					<h1 class="page-header">List of all analyzed groups</h1>
					<div class="table-responsive">
						<table class="table table-striped">
							<colgroup>
								<col class="80%">
							</colgroup>
							<tbody>
                            {% for url in urls %}
								<tr>

                                        <td width="95%"><a href={% url 'choice' url.0 %}>{{ url.1 }}</a></td>

									<td>
										<form align="right">
											<button type="button" class="delete" aria-hidden="true" align="rignt">×</button>
										</form>
									</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

{% endblock %}